.container {
	overflow: hidden;
	height: 100%;
	width: 100%;	
}
.steps {
	height: 100%;
}
.step {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}
.step1 {
	background-image: url(../resource/img/1.jpg);
}
.step2 {
	background-image: url(../resource/img/2.jpg);
}
.step3 {
	background-image: url(../resource/img/3.jpg);
}
.step4 {
	background-image: url(../resource/img/4.jpg);
}
.step1 .title {
	// display: none;
	position: absolute;
	margin-top: -16px;
	top: 49%;
	left: 50%;
	margin-left: -108px;
	opacity: 0;
}
.step .desc {
	position: absolute;
}